<div>
  <% if @device && @device.errors.any? %>
    <h3> <%= @device.error.count %> errors prohibited this post from being saved </h3>
    <ul>
      <%= @device.errors.full_message.each do |message| %>
        <li><%= message %></li>
        
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_tag "/devices", method: :post do %>
  <div> 
    Manufacturer <input type="text" name="manufacturer">
  </div>
  <div> 
    Model <input type="text" name="model">
  </div>
  <div> 
    OS Version <input type="text" name="os_version">
  </div>
  <div> 
    Screen PPI <input type="text" name="screen">
  </div>
  <div> 
    Active
    <label class="switch">
      <input type="checkbox" name="active">
      <div class="slider round"></div>
    </label>
  </div>
  <div> 
    Phone Number <input type="text" name="phone_number">
  </div>
  <div> 
    OS
    <input type="radio" name="ios" value="true" checked> iOS
    <input type="radio" name="ios" value="false"> Android
  </div>
  <div> 
    Image (URL) <input type="text" name="description">
  </div>
  <input type="submit" value="Post!">


<% end %>