<h1>Please provide following info:</h1>
<%= form_tag '/users', method: :post do  %>
  <br>
    Your Name: <input type="text" name="name">
  <br>
  <br>
    Email: <input type="email" name="email">
  <p>*email has to be within logitech.com domain</p>
  <br>
    Password: <input type="password" name="password">
  <br>
  <br>
    Confirm Password: <input type="password" name="password_confirmation">
  <br>
  <br>Location: <select name="location">
    <option value="SVC">SVC</option>
    <option value="Camas">Camas</option>
  </select>
  <br><br><button type="submit" class="btn btn-primary">Submit</button>
<% end %>